DB_PASSWORD=
CONNECTION_STRING=Server=;Database=;User Id=;Password=;Encrypt=True;TrustServerCertificate=False
VITE_API_URL=http://localhost:5214
AuthTokens__ClientSecret=
AuthTokens__MasterToken=
Jwt__Audience=DecsPage
Jwt__Issuer=Dashboard
JWT_KEY=a-string-secret-at-least-256-bits-long
Storage__ConnectionString=DefaultEndpointsProtocol=https;AccountName=;AccountKey=;EndpointSuffix=core.windows.net
Storage__Container=exports